</section>

<script src="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
<script src="~/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="~/AdminLTE/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE/plugins/datatables/js/dataTables.bootstrap.min.js"></script>

<script src="~/Scripts/SysManage/jquery.serializejson.min.js"></script>
<script src="~/Scripts/SysManage/ManageBase.js"></script>
<script src="~/Scripts/SysManage/StateTranstion.js"></script>
<script src="~/Scripts/SysManage/LoadData.js"></script>

<script type="text/javascript">
    var Token = '@ViewBag.Token';
    var RefreshToken = '@ViewBag.RefreshToken';
    var ApiUrl = '@ViewBag.ApiUrl';
    //var VenueID = '1';
</script>