<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 微信公众号URL对接信息 -->
    <add key="WeixinToken" value="zhaojunfu" />
    <add key="WeixinEncodingAESKey" value="UGhuai9ge6QWfqDnELK7pITpXewpSSPgeM7ifzGNDBr" />
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="wx03ea2f7f93b7cf96" />
    <add key="WeixinAppSecret" value="609bd314b63811293cec1d9adb84e699" />
  </appSettings>
</configuration>