<!doctype html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../Content/amazeui.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/amazeui.min.js"></script>
    <title>Slider</title>
    <style>
        .boxes .box {
            height: 100px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            transition: all .2s ease;
        }
    </style>
</head>
<body> 
    <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides">
            <li>
                <img src="../../images/adv.jpg" />
                <div class="am-slider-desc">
                    111111111111
                </div>
            </li>
            <li>
                <img src="../../images/banner.jpg" />
                <div class="am-slider-desc">
                    2222222222222222
                </div>
            </li>
            <li>
                <img src="../../images/adv.jpg" />
                <div class="am-slider-desc">
                    33333333333333333
                </div>
            </li>
            <li>
                <img src="../../images/banner.jpg" />
                <div class="am-slider-desc">
                    555555555555555
                </div>
            </li>
        </ul>
    </div>
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <a href="###">
            <img src="../../imgaes/icon01.png" />" style="width:15px;height:15px" />
            <span class="am-list-news-more">更多更多更多更多更多更多更多更多更多更多</span>
        </a>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    </div>

    <ul class="am-avg-sm-3 boxes">
        <li class="box box-1">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon3.png" />
            </a>
            <p>
                课程1
            </p>
        </li>
        <li class="box box-2">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon.png" />
            </a>
            <p>
                课程2
            </p>
        </li>
        <li class="box box-3">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon1.png" />
            </a>
            <p>
                课程3
            </p>
        </li>
        <li class="box box-4">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon2.png" />
            </a>
            <p>
                课程4
            </p>
        </li>
        <li class="box box-5">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon3.png" />
            </a>
            <p>
                课程5
            </p>
        </li>
        <li class="box box-6">
            <a href="all_order.html" class="menu-box">
                <img src="../../images/2icon2.png" />
            </a>
            <p>
                课程6
            </p>
        </li>
    </ul>
</body>
</html>
