<!DOCTYPE html>
<html lang="en" style="overflow: auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>点评</title>
    <link rel="stylesheet" href="/Content/amazeui.min.css" />
    <link rel="stylesheet" href="/Content/admin.css">
    <link rel="stylesheet" href="/Content/CoachIndex.css">
    <link rel="stylesheet" href="/Content/iconfont.css">
    <link rel="stylesheet" href="/font/iconfont.woff">
    <link rel="stylesheet" href="/font/iconfont.eot">
    <link rel="stylesheet" href="/font/iconfont.svg">
    <link rel="stylesheet" href="/font/iconfont.ttf">
</head>
<body>
    @Html.Action("Default", "Base")
    <!-- 头部导航 -->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="icon iconfont icon-back"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">点评学生</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="" id="SelLog">查看记录</a>
        </div>
    </header>
    <!-- 内容部分 -->
    <div class="_commentCon">
        <div data-am-widget="tabs" class="am-tabs am-tabs-default">
            <ul class="am-tabs-nav am-cf">
                <li class="am-active"><a href="[data-tab-panel-0]">学员点评</a></li>
               
            </ul>
            <div class="am-tabs-bd">
                <div data-tab-panel-0 class="am-tab-panel am-active">
                    <div class="am-g _Con_Fir">
                        <p class="am-u-sm-4 am-u-md-4 am-u-lg-4 _ConClass">请选择学员：</p>
                        <div class="am-dropdown am-u-sm-7 am-u-md-7 am-u-lg-7" data-am-dropdown>
                            <button class="am-btn am-btn-primary am-dropdown-toggle widthMax" data-am-dropdown-toggle id="xyInfo">选择学员</button>
                            <ul class="am-dropdown-content" id="cStudent">
                              
                            </ul>
                        </div>
                    </div>
                    <div class="_Con_Sec">
                        <p>点评内容:</p>
                        <textarea id="txtInfo" name="txtInfo" cols="20" rows="5" placeholder="请输入点评内容" class="widthMax"></textarea>
                    </div>
                  
                    <p class="_ConCSend textAlign" id="save">提交</p>
                </div>
               
            </div>
        </div>
    </div>

    <input type="hidden" id="hdPKID" name="hdPKID" value="@ViewBag.PKID" />
    <input type="hidden" id="hdStudentID" name="hdStudentID" value="" />
    <input type="hidden" id="hdCID" name="hdCID" value="@ViewBag.CID" />
    <input type="hidden" id="hdCurriculumID" name="hdCurriculumID" value="" />
    <input type="hidden" id="hdCoachID" name="hdCoachID" value="@ViewBag.CoachID" />
    <input type="hidden" id="hdCommentID" name="hdCommentID" value="" />  
    <script src="/Scripts/jquery-1.12.0.min.js"></script>
    <script src="/Scripts/Jquery_Extention.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/amazeui.min.js"></script>
    <script src="/Scripts/amazeui.ie8polyfill.min.js"></script>
    <script src="/Scripts/Coash/MyComment.js"></script>
    
</body>
</html>